#library_search_link {
    display: inline-block;
    height: 31px;
    width: 31px;
    vertical-align: bottom;
    margin-left: 4px;
    background-image: url([[pix:mod_digitalization|open_new_tab]]);
    background-repeat: no-repeat;
}
